<nav class="py-4 h-100 sidemenu navbar-dark bg-dark pure-menu{{ navClass ? ' '~navClass }}">
    <span class="font-weight-bold pl-3 pb-3 d-inline-block text-white-50 text-large">{{ navTitle ?: 'Listening Cake' }}</span>
    <ul class="pure-menu-list">
        {% for nav in navItems %}
            <li class="pure-menu-item text-large
                {{ Route.currentRouteName() == nav.routeName ? ' sidemenu--active' }}">
                <a class="pl-3 py-2 text-white-50 w-100 d-inline-block text-decoration-none"
                   href="{{ nav.link }}">
                    {{ nav.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
